<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalpataru Grove</title>
    <link rel="icon" href="/static/web/kalpataru_logo_abstract_3_small.png" type="image/png">
    <link rel="icon" href="/static/web/kalpataru_logo_abstract_4_small_dark.png" type="image/png" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="/static/web/style.css">
</head>
<body>
    <div class="main-container">
        <div class="content-column">
            <div class="top-banner">
                <h1>Kalpataru Grove</h1>
            </div>
            <p>
                An integrated project ecosystem for enriching Sanskrit text data online.
            </p>
            <ul>
                <li><a href="https://hansel-library.info">HANSEL</a> is a home where new Sanskrit texts live.</li>
                <li><a href="https://skrutable.info">Skrutable</a> helps with common text processing tasks, including OCR.</li>
                <li><a href="https://panditya.info/seti">SETI</a> grounds online e-text collections to Pandit Project IDs.</li>
                <li><a href="https://panditya.info">Pāṇḍitya</a> visualizes networks of authors, works, and online e-texts.</li>
                <li><a href="https://vatayana.info">Vātāyana</a> reveals intertextual relations within and across texts.</li>
            </ul>
            <p style="text-align: center;">
                <a href="system_diagram">System Diagram</a>
            </p>
            <br>
            <hr>
            <p>
                Management:
            </p>
            <ul>
                <li>Creator <a href="https://tylerneill.info">Tyler</a> serves as curator, helping the grove to flourish.</li>
                <li><a href="{{ firewatch_url }}">Firewatch</a> (u: k, p: g) helps monitor activity for these web apps.</li>
            </ul>
        </div>
        <div class="logo-column">
            <img src="/static/web/kalpataru_logo_original.png" alt="Kalpataru Grove Logo" class="main-logo">
        </div>
    </div>
</body>
</html>
