<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalpataru Grove - System Diagram</title>
    <link rel="icon" href="/static/web/kalpataru_logo_abstract_3_small.png" type="image/png">
    <link rel="icon" href="/static/web/kalpataru_logo_abstract_4_small_dark.png" type="image/png" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="/static/web/style.css">
</head>
<body>
    <div class="main-container">
        <div class="content-column">
            <div class="top-banner">
                <h1>System Diagram</h1>
            </div>
            <p>
                Hi.
                <img src="/static/web/system_diagram.jpg">
            </p>
        </div>
    </div>
</body>
</html>
